* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
}

.row {
  background-color: #ffffff;
}

header {
  height: 50px;
  color: #ffffff;
}

.text {
  background: #ffffff;
}

table, th, td {
  border: 1px solid black;
}

.navbar.transparent.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.6);
}

.footertext {
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
}

.asd.navbar-default {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.footer {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  margin-top: 40px;
  width: 100%;
}

.navbarcenter {
  width: 959px;
}
